<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atalasoft.dotImage.AdvancedDocClean.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Dicom.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Dwg.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Jbig2.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Jpeg2000.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Lib.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Ocr.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Pdf.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.PdfDoc.Bridge.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.PdfReader.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Raw.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.WebControls.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.WinControls.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Wpf.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.dotImage.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.PdfDoc.x86" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.Shared" version="11.4.0.15475" targetFramework="net452" />
  <package id="Atalasoft.Web.Document.Viewer" version="11.4.0.15475" targetFramework="net452" />
  <package id="bootstrap" version="4.6.0" targetFramework="net452" />
  <package id="jQuery" version="3.5.1" targetFramework="net452" />
  <package id="jQuery.Easing" version="1.3.0.1" targetFramework="net40" />
  <package id="jQuery.FileUpload" version="10.4.0" targetFramework="net452" />
  <package id="jQuery.UI.Combined" version="1.13.1" targetFramework="net452" />
  <package id="popper.js" version="1.16.1" targetFramework="net452" />
  <package id="RaphaelJS" version="2.1.2" targetFramework="net452" />
</packages>