<?xml version="1.0"?>

<configuration>

  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="AtalasoftLicenseString" value=""/>
  </appSettings>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
    
</configuration>
