.atala-document-container { border: 1px solid #DDDDDD;  }
.atala-document-toolbar { border: 1px solid #DDDDDD; background-color: #DDDDDD; }
     
.atala-ui { font-size: 0.8em; }
.atala-ui-button { font-size: 0.8em; margin-left:1px; }

.atala-ui-icon  
{
    width: 24px; 
    height: 24px; 
    background-image: url('atala-ui-icons-24.png'); 
    margin-top:-12px !important;
    margin-left:-12px !important;
}
    
.ui-state-default .atala-ui-icon { background-image: url('atala-ui-icons-24.png'); }
        
.atala-ui-icon-page-prev { background-position: 0 0; }
.atala-ui-icon-page-next { background-position: -24px 0; }
.atala-ui-icon-zoom-out { background-position: -48px 0; }
.atala-ui-icon-zoom-in { background-position: -72px 0; }
.atala-ui-icon-zoom-full { background-position: -96px 0; }
.atala-ui-icon-fit-best { background-position: -120px 0; }
.atala-ui-icon-fit-width { background-position: -144px 0; }

.atala-ui-icon-save { background-position: -168px 0; }

.atala-ui-icon-ellipse { background-position: -192px 0; }
.atala-ui-icon-highlight { background-position: -216px 0; }
.atala-ui-icon-line { background-position: -240px 0; }
.atala-ui-icon-lines { background-position: -264px 0; }
.atala-ui-icon-freehand { background-position: -288px 0; }
.atala-ui-icon-polygon { background-position: -312px 0; }
.atala-ui-icon-rectangle { background-position: -336px 0; }
.atala-ui-icon-fillrect { background-position: -360px 0; }
.atala-ui-icon-stamp { background-position: -384px 0; }
.atala-ui-icon-image { background-position: -384px 0; }
.atala-ui-icon-note { background-position: -408px 0; }
.atala-ui-icon-text { background-position: -432px 0; }
.atala-ui-icon-comment { background-position: -456px 0; }

